.res{
    background-color: #212126 !important;
    color: white !important;
    border: none !important;
    border-radius: 22px !important;
}
.sel{
    background-color: #212126 !important;
    color: white !important;
    border: none !important;
    border-radius: 22px !important;
}
.name{
    color: white !important;
}

